$primary: #cea20e;
$primary-light: #f6d568;
$primary-lighter: #f8e5a3;
$primary-lightest: #fef9ea;
$black-0: #000000;
$black-1: #312e2e;
$grey-0: #5f5f5f;
$grey-1: #948989;
$background-color: #ffffff;
$error: #f61f1f;
$default-shadow: 0 5px 8px rgba(0, 0, 0, 0.164), 0 0 20px rgba(0, 0, 0, 0.15);

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: $background-color;
}

.login-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  .login-container {
    width: 430px;
  }
}

header {
  padding: 30px 0;
}

footer {
  width: 100%;
  color: $grey-1;
  text-align: center;
  margin: 70px 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.jcc {
    justify-content: center;
  }
  &.jcs {
    justify-content: flex-start;
  }
  &.jce {
    justify-content: flex-end;
  }
  &.jcsb {
    justify-content: space-between;
  }
  &.jcsa {
    justify-content: space-around;
  }
  &.aic {
    align-items: center;
  }
  &.ais {
    align-items: flex-start;
  }

  &.aie {
    align-items: flex-end;
  }
  &.aiss {
    align-items: stretch;
  }
}

.f1 {
  flex: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
  position: absolute;
}
.slide-enter {
  transform: translate(100%, 0);
  opacity: 0;
}
.slide-leave-to {
  transform: translate(-100%, 0);
  opacity: 0;
}

h3 {
  margin: 0;
}

.grey {
  color: $grey-1;
}

// TWEETLY COMPONENTS

.tw-button,
.tw-input {
  padding: 13px;
  border-radius: 7px;
  &.sm {
    padding: 2px 8px;
  }
}

.tw-loader {
  position: fixed;
  z-index: 100;
  background: $background-color url("/src/assets/loader.svg") no-repeat center;
  background-size: 100px;
  bottom: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.tw-button {
  outline: none;
  font-weight: 800;
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  &.lg {
    padding: 20px 30px;
  }
  &.contained {
    color: #fff;
    background-color: $primary;
    &.light {
      background: $primary-lighter;
      color: $primary;
    }
  }
  &.outlined {
    color: $black-1;
    border-color: $primary;
    &.light {
      border-color: $primary-lighter;
      color: $primary;
    }
  }
  &.sm {
    font-size: 14px;
  }
}

.tw-input-root {
  .label {
    transform-origin: left;
    user-select: none;
    transition: transform 0.1s ease-in-out;
    color: $black-1;
    font-weight: 800;
    display: block;
    margin-bottom: 13px;
    pointer-events: none;
    text-transform: capitalize;
  }
  .tw-input {
    font-size: 1.4rem;
    display: block;
    border: 1px solid $primary-light;
    &.error {
      border-color: $error;
    }
  }
  & .error-message {
    font-weight: 500;
    margin-top: 13px;
    display: block;
    color: $error;
  }
}

.tw-post-container,
.tw-create-post-container {
  border-radius: 7px;
  background: rgba($primary-lightest, 0.5);
  border: 0.8px solid $primary-light;
}

.tw-create-post-container {
  padding: 14px;
  min-height: 180px;
}

.tw-post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
  padding: 14px;

  & > section {
    padding: 30px 0;
    & .author {
      color: $primary;
      font-weight: 800;
    }
    & .date {
      color: $grey-1;
    }
  }
}

hr {
  border: none;
  border-bottom: 1px solid $primary-light;
  width: 100%;
}

.tw-comment-container {
  background-color: $primary-lightest;
  border: 1px solid $primary-lighter;
  padding: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .date {
    color: $grey-0;
  }
  .author {
    color: $primary;
  }
  .message {
    color: $grey-1;
  }
}

.tw-sidebar-container {
  min-width: 345px;
  margin-right: 25px;
}

.tw-tweet-input {
  background-color: #fff;
  border: 1px solid $primary-light;
  width: 100%;
  min-height: 80px;
  margin-bottom: 8px;
  padding: 8px;
  word-break: break-all;
  outline: 1px solid $primary;
}

.tw-comment-input {
  background-color: $primary-lightest;
  border: 1px solid $primary-light;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  &:focus {
    border: 1px solid $primary;
  }
}

.tw-client-card {
  background-color: $primary-lightest;
  border: 1px solid $primary-lighter;
  padding: 50px 34px;
  border-radius: 7px;
  margin-bottom: 10px;
  .name {
    span {
      color: $grey-0;
    }
  }
}

a {
  cursor: pointer;
}

.account-page-container {
  background-color: $primary-lightest;
  border: 1px solid $primary-lighter;
  padding: 50px 34px;
  border-radius: 7px;
}
