* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

.login-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-layout .login-container {
  width: 430px;
}

header {
  padding: 30px 0;
}

footer {
  width: 100%;
  color: #948989;
  text-align: center;
  margin: 70px 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.jcs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex.jce {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex.aie {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex.aiss {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.f1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
}

.slide-enter {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.slide-leave-to {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

h3 {
  margin: 0;
}

.grey {
  color: #948989;
}

.tw-button,
.tw-input {
  padding: 13px;
  border-radius: 7px;
}

.tw-button.sm,
.tw-input.sm {
  padding: 2px 8px;
}

.tw-loader {
  position: fixed;
  z-index: 100;
  background: #ffffff url("/src/assets/loader.svg") no-repeat center;
  background-size: 100px;
  bottom: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.tw-button {
  outline: none;
  font-weight: 800;
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
}

.tw-button.lg {
  padding: 20px 30px;
}

.tw-button.contained {
  color: #fff;
  background-color: #cea20e;
}

.tw-button.contained.light {
  background: #f8e5a3;
  color: #cea20e;
}

.tw-button.outlined {
  color: #312e2e;
  border-color: #cea20e;
}

.tw-button.outlined.light {
  border-color: #f8e5a3;
  color: #cea20e;
}

.tw-button.sm {
  font-size: 14px;
}

.tw-input-root .label {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  color: #312e2e;
  font-weight: 800;
  display: block;
  margin-bottom: 13px;
  pointer-events: none;
  text-transform: capitalize;
}

.tw-input-root .tw-input {
  font-size: 1.4rem;
  display: block;
  border: 1px solid #f6d568;
}

.tw-input-root .tw-input.error {
  border-color: #f61f1f;
}

.tw-input-root .error-message {
  font-weight: 500;
  margin-top: 13px;
  display: block;
  color: #f61f1f;
}

.tw-post-container,
.tw-create-post-container {
  border-radius: 7px;
  background: rgba(254, 249, 234, 0.5);
  border: 0.8px solid #f6d568;
}

.tw-create-post-container {
  padding: 14px;
  min-height: 180px;
}

.tw-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
  padding: 14px;
}

.tw-post-container > section {
  padding: 30px 0;
}

.tw-post-container > section .author {
  color: #cea20e;
  font-weight: 800;
}

.tw-post-container > section .date {
  color: #948989;
}

hr {
  border: none;
  border-bottom: 1px solid #f6d568;
  width: 100%;
}

.tw-comment-container {
  background-color: #fef9ea;
  border: 1px solid #f8e5a3;
  padding: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.tw-comment-container:last-of-type {
  margin-bottom: 0;
}

.tw-comment-container .date {
  color: #5f5f5f;
}

.tw-comment-container .author {
  color: #cea20e;
}

.tw-comment-container .message {
  color: #948989;
}

.tw-sidebar-container {
  min-width: 345px;
  margin-right: 25px;
}

.tw-tweet-input {
  background-color: #fff;
  border: 1px solid #f6d568;
  width: 100%;
  min-height: 80px;
  margin-bottom: 8px;
  padding: 8px;
  word-break: break-all;
  outline: 1px solid #cea20e;
}

.tw-comment-input {
  background-color: #fef9ea;
  border: 1px solid #f6d568;
  padding: 12px;
  border-radius: 8px;
  outline: none;
}

.tw-comment-input:focus {
  border: 1px solid #cea20e;
}

.tw-client-card {
  background-color: #fef9ea;
  border: 1px solid #f8e5a3;
  padding: 50px 34px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.tw-client-card .name span {
  color: #5f5f5f;
}

a {
  cursor: pointer;
}

.account-page-container {
  background-color: #fef9ea;
  border: 1px solid #f8e5a3;
  padding: 50px 34px;
  border-radius: 7px;
}

.tw-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tw-modal .content {
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding: 35px;
  border-radius: 7px;
  width: 300px;
}

.tw-modal .backdrop {
  position: fixed;
  background: rgba(195, 192, 182, 0.486);
  width: 100%;
  height: 100%;
}

.tw-report {
  background-color: #fef9ea;
  border: 1px solid #f8e5a3;
  padding: 18px;
  border-radius: 7px;
  margin-bottom: 13px;
}

.tw-report .header {
  padding-bottom: 13px;
  border-bottom: 1px solid #f6d568;
}

.tw-report .header b {
  color: #948989;
}

.tw-report .post {
  margin-top: 8px;
}

.tw-report .post .name {
  color: #cea20e;
  font-weight: bold;
  font-size: 20px;
}

.tw-report .post b {
  color: #948989;
}

.tw-report:last-of-type {
  margin-bottom: 0px;
}

.tw-card {
  background-color: #fef9ea;
  border: 1px solid #f8e5a3;
  padding: 18px;
  border-radius: 7px;
  margin-bottom: 13px;
}

.tw-card h2 {
  color: #cea20e;
}

.tw-card h3 {
  color: #5f5f5f;
}

.image-container {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}

.image-container img {
  width: auto !important;
  height: 100% !important;
}
/*# sourceMappingURL=style.css.map */